/nbproject/private/
/build/
/org-abego-treelayout-core/build/
/org-antlr-runtime/build/
/org-antlr-v4-runtime/build/
/org-antlr-works-branding/build/
/org-stringtemplate-v4/build/
/org-antlr/build/
/org-antlr-v4/build/
/org-antlr-netbeans/build/
/works.editor.antlr4/build/
/works.editor.antlr3/build/
/org-antlr-works-editor/build/
/tvl-editor-actions/build/
/editor.containingfolder/build/
/tvl.editor.whitespace/build/
/org-antlr-v4/release/modules/ext/*.jar
/org-antlr-v4-runtime/release/modules/ext/*.jar
/org-antlr/release/modules/ext/*.jar
/org-antlr-runtime/release/modules/ext/*.jar
/org-stringtemplate-v4/release/modules/ext/*.jar
